/.idea
/.env
/Introduction to LangChain/LLM interfaces and prompting
/Introduction to LangChain/Putting it all together
/Introduction to LangChain/Setup
/Introduction to LangChain/Using tools
/Introduction to LangChain/Working with data
/Introduction to LangChain/task/test
/Introduction to LangChain/task/tests.py
/course-info.yaml
/course-remote-info.yaml
/Introduction to LangChain/lesson-info.yaml
